/*css/*

box {
     padding: 20px;
     text-align: right;
     background-color: white;
     border: 1px solid #ddd;
     margin: 10px;
 }
box {
    padding:20px; 
    text-align:left;
    background-color:white;
    border:1px;
    margin:10px;
}










.toggle-button poisitioin: absolute;
    top:10px;
    right:10px;
    width:30px;
    height:30px;
    background-color:black;
    border-radius:50%;
    width:30px;
    height:30px;
}
@media screen and (max-width:600px){
    .toggle-button{
        display:block;
    }
    .navbar{
        display:none;
        flex-direction: column;
    }
}