    /*css/*

  img.align-center{
  display:block;
  margin:0px auto}
  img.large{
  width:50px;
  height:50px;
[

td{
border:1px solid";
padding:15px:}
table.one
empty-cells:show;}
table.two
empty-cells:hide











.toggle-button poisitioin: absolute;
    top:10px;
    right:10px;
    width:30px;
    height:30px;
    background-color:black;
    border-radius:50%;
    width:30px;
    height:30px;
}
@media screen and (max-width:600px){
    .toggle-button{
        display:block;
    }
    .navbar{
        display:none;
        flex-direction: column;
    }
}