@media scree and (max-width:768px){

.show-infomain,section,article,section,header,footer,pure-g,pure-u-2-3,pure-u-1-5,.hero,pure-u-1-4{
        display:block;
        width:95%;
        margin:auto;
    }
    .history-hero {
        height: 50vw;
    }
    .big-stew toggle-button{
   
      body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 2rem;
      background-color: #f9f9f9;
    }
.navbar
    h1 {
      text-align: center;
      color: #333;
      margin-bottom: 2rem;

    .hamish li}
    
    .hamish ul li{textalighn}
      
    .hamish 
  
  .hamish.active{
    display:flex;
 }
 
</styles>




  nav a{
    border:0px}
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    display: block;
   .hamish li}


 
.hamish li{
  <nav>
    <nav class="navbar">
      <p>Graph130</p>
      <nav class="hamish"></nav>
    
